// sidebar
$menuText:black; //字体颜色
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:transparent;
$menuHover:#eee; //鼠标经过左侧菜单栏的颜色

$subMenuBg:#fff; //子菜单的背景色
$subMenuHover:skyblue; //鼠标经过子菜单的背景色

$sideBarWidth: 170px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
